## Pandas III Metodos

In [2]:
import pandas as pd

1) Cargar el dataset (Pista Si hacemos la carga del dataset sin el parámetro encoding nos puede dar error (puede que no os de error, si es así menos problemas!). Aquí tenéis una lista de los encodings disponibles en pandas. Buscad por los encoding de tipo ISO.)

In [3]:
df = pd.read_csv('attacks.csv')

2) Haced una exploración básica del DataFrame:

- ¿Cuántas filas y columnas tiene el DataFrame?

In [6]:
df.shape

(6114, 22)

Nuestro DataFrame tiene 6114 filas y 22 columnas.

- Mostrad las primeras cinco filas y las últimas cinco filas del DataFrame.

In [7]:
df.head()

,Unnamed: 0,Case Number,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,1,2018.06.18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2,2018.06.09,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,3,2018.06.08,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,4,2018.06.04,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [8]:
df.tail()

,Unnamed: 0,Case Number,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
6109,6127,1804.02.26.R,1804.0,Boat,AUSTRALIA,New South Wales,"Georges Head, off Port Jackson",NaN,boat,NaN,...,NaN,"Sydney Gazette, 2/26/1804",1804.02.26-boat-GeorgesHead.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1804.02.26.R,1804.02.26.R,176.0,NaN,NaN
6110,6128,1803.05.17,1803.0,Sea Disaster,USA,South Carolina,Off Charleston,NaN,Captain Jones,M,...,NaN,"Evening Post, 6/13/1803",1803.05.17-Jones.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1803.05.17,1803.05.17,175.0,NaN,NaN
6111,6129,1803.03.00,1803.0,Unprovoked,AUSTRALIA,Western Australia,"Hamelin Harbour, at Faure Island",NaN,M. Lefevre & a sailor (rescuer),M,...,NaN,F. Peron ref in G.P. Whitley (Fishes of Austr...,1803.03.00-Lefevre.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1803.03.00,1803.03.00,174.0,NaN,NaN
6112,6130,1802.04.13.R,1802.0,Unprovoked,INDIA,NaN,NaN,NaN,NaN,NaN,...,NaN,Evening Post (New York) 4/13/1802,1802.04.13.R-India.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1802.04.13.R,1802.04.13.R,173.0,NaN,NaN
6113,6131,1801.12.18.R,1801.0,Provoked,NaN,NaN,NaN,Standing on landed shark's tail,Stephen Pettigew,N,...,12' shark,"The Evening Post, 12/18/1801",1801.12.18.R-Pettigrew.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1801.12.18.R,1801.12.18.R,172.0,NaN,NaN

- Mostrad 2 filas al azar del DataFrame.

In [9]:
df.sample(2)

,Unnamed: 0,Case Number,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
3287,3297,1973.09.00,1973.0,Unprovoked,EGYPT,Red Sea,Southern end of the Sinai Peninsula,NaN,Soldier,M,...,Tiger shark,M Levy,1973.09.00-Soldier.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1973.09.00,1973.09.00,3006.0,NaN,NaN
3832,3844,1962.01.16,1962.0,Provoked,NEW ZEALAND,South Island,"Pigeon Bay, Canterbury",Fishing,Mr. Reynish & Mr. Meikle,NaN,...,"Said to involve a 4.9 m [16'] ""red shark""","The Sun (Australia), 1/17/1962",1962.01.16-RedShark.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1962.01.16,1962.01.16,2459.0,NaN,NaN

- ¿Cuál es el nombre de las columnas del DataFrame?

In [52]:
columnas= df.columns
columnas

Index(['Unnamed: 0', 'Case Number', 'Year', 'Type', 'Country', 'Area',
       'Location', 'Activity', 'Name', 'Sex ', 'Age', 'Time', 'Species ',
       'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

- ¿Cuáles son los principales estádisticos del DataFrame? Mostrad por separado las variables categóricas y las variables numéricas.

In [13]:
df.describe()

        Unnamed: 0         Year  original order
count  6114.000000  6114.000000     6114.000000
mean   3065.554629  1968.831207     3237.445044
std    1769.652139    43.745920     1769.652633
min       0.000000  1801.000000      172.000000
25%    1534.250000  1946.000000     1706.250000
50%    3066.500000  1980.000000     3236.500000
75%    4596.750000  2005.000000     4768.750000
max    6131.000000  2018.000000     6303.000000

In [12]:
df.describe(include= 'object')

,Case Number,Type,Country,Area,Location,Activity,Name,Sex,Age,Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,Unnamed: 22,Unnamed: 23
count,6113,6110,6074,5706,5626,5603,5914,5564,3448,2934,3409,6098,6114,6113,6114,6114,6114,1,2
unique,6113,8,201,791,4020,1484,5118,6,156,366,1529,4837,6105,6104,6099,6113,6114,1,2
top,2018.06.25,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,17,Afternoon,White shark,"C. Moore, GSAF",1898.00.00.R-Syria.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1952.08.04,2018.06.25,stopped here,Teramo
freq,1,4438,2200,1025,162,966,511,4939,154,183,161,95,2,2,4,2,1,1,1

- ¿Cuál es el porcentaje de valores nulos en cada columna?

In [69]:
for i in columnas:
    resultado = (df[i].isnull().sum()/len(df[i]))*100
    print(f"{i} {round(resultado,2)} %")

Unnamed: 0 0.0 %
Case Number 0.02 %
Year 0.0 %
Type 0.07 %
Country 0.65 %
Area 6.67 %
Location 7.98 %
Activity 8.36 %
Name 3.27 %
Sex  9.0 %
Age 43.6 %
Time 52.01 %
Species  44.24 %
Investigator or Source 0.26 %
pdf 0.0 %
href formula 0.02 %
href 0.0 %
Case Number.1 0.0 %
Case Number.2 0.0 %
original order 0.0 %
Unnamed: 22 99.98 %
Unnamed: 23 99.97 %

- Sacad los valores únicos y su frecuencia de las variables numéricas. Almacenad los resultados en un diccionario. Uno para cada variable.

In [75]:
df.columns

Index(['Unnamed: 0', 'Case Number', 'Year', 'Type', 'Country', 'Area',
       'Location', 'Activity', 'Name', 'Sex ', 'Age', 'Time', 'Species ',
       'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [80]:
df.dtypes

Unnamed: 0                  int64
Case Number                object
Year                      float64
Type                       object
Country                    object
Area                       object
Location                   object
Activity                   object
Name                       object
Sex                        object
Age                        object
Time                       object
Species                    object
Investigator or Source     object
pdf                        object
href formula               object
href                       object
Case Number.1              object
Case Number.2              object
original order            float64
Unnamed: 22                object
Unnamed: 23                object
dtype: object

In [9]:
valores_unicos = {col: df.value_counts() for col in df.columns if  df.dtypes[col] != 'object'}
valores_unicos

{'Unnamed: 0': Series([], dtype: int64),
 'Year': Series([], dtype: int64),
 'original order': Series([], dtype: int64)}

In [17]:
dic_unicos ={}
for i in df:
    
    if df.dtypes[i] == 'object':
        pass
    else:
         dic_unicos.update({i:(df[i].value_counts())})

In [18]:
dic_unicos

{'Unnamed: 0': 0       1
 4084    1
 4093    1
 4092    1
 4091    1
        ..
 2043    1
 2042    1
 2041    1
 2040    1
 6131    1
 Name: Unnamed: 0, Length: 6114, dtype: int64,
 'Year': 2015.0    143
 2017.0    136
 2016.0    130
 2011.0    128
 2014.0    126
          ...
 1819.0      1
 1822.0      1
 1823.0      1
 1834.0      1
 1801.0      1
 Name: Year, Length: 207, dtype: int64,
 'original order': 569.0     2
 6303.0    1
 2208.0    1
 2210.0    1
 2211.0    1
          ..
 4260.0    1
 4261.0    1
 4262.0    1
 4263.0    1
 172.0     1
 Name: original order, Length: 6113, dtype: int64}

In [98]:
for i in df.dtypes:
    
    if i == object:
        pass
    else:
        for x in columnas:
            #print(x)
            print(df[x].value_counts())

0       1
4084    1
4093    1
4092    1
4091    1
       ..
2043    1
2042    1
2041    1
2040    1
6131    1
Name: Unnamed: 0, Length: 6114, dtype: int64
2018.06.25      1
1959.07.23.a    1
1959.05.30      1
1959.06.13      1
1959.06.14.a    1
               ..
2000.07.02.a    1
2000.07.02.b    1
2000.07.04.a    1
2000.07.04.b    1
1801.12.18.R    1
Name: Case Number, Length: 6113, dtype: int64
2015.0    143
2017.0    136
2016.0    130
2011.0    128
2014.0    126
         ...
1819.0      1
1822.0      1
1823.0      1
1834.0      1
1801.0      1
Name: Year, Length: 207, dtype: int64
Unprovoked      4438
Provoked         564
Invalid          537
Sea Disaster     232
Boating          203
Boat             133
Questionable       2
Boatomg            1
Name: Type, dtype: int64
USA                               2200
AUSTRALIA                         1316
SOUTH AFRICA                       569
PAPUA NEW GUINEA                   130
NEW ZEALAND                        126
                                  ...
RED SEA / INDIAN OCEAN               1
BRITISH WEST INDIES                  1
ADMIRALTY ISLANDS                    1
FEDERATED STATES OF MICRONESIA       1
GHANA                                1
Name: Country, Length: 201, dtype: int64
Florida              1025
New South Wales       480
Queensland            306
Hawaii                293
California            286
                     ...
St. Mary's Parish       1
Romblon Province        1
Lamu Archipelago        1
Los Vilos               1
Maharashtra             1
Name: Area, Length: 791, dtype: int64
New Smyrna Beach, Volusia County                             162
Daytona Beach, Volusia County                                 30
Ponce Inlet, Volusia County                                   20
Melbourne Beach, Brevard County                               18
Myrtle Beach, Horry County                                    17
                                                            ...
Ocean Beach, Jaycee Park, Vero Beach, Indian River County      1
South Beach Park, Indian River County                          1
460 miles off Iwakuni                                          1
 Boa Viagem Beach, Recife                                      1
Hamelin Harbour, at Faure Island                               1
Name: Location, Length: 4020, dtype: int64
Surfing                                                        966
Swimming                                                       842
Fishing                                                        419
Spearfishing                                                   330
Bathing                                                        156
                                                              ...
Motor launch Baby Princesa capsized with 22 people on board      1
Sea Disaster Sinking of ferryboat Christina                      1
Wreck of the 1689-ton Portuguese  coaster Angoche                1
Hookah diving (submerged)                                        1
Standing on landed shark's tail                                  1
Name: Activity, Length: 1484, dtype: int64
male                 511
female                93
boy                   21
2 males               16
boat                  13
                    ...
Chuck Anderson         1
Richard Whatley        1
Kenny Alexander        1
22' pleasure boat      1
Stephen Pettigew       1
Name: Name, Length: 5118, dtype: int64
M      4939
F       619
M         2
N         2
lli       1
.         1
Name: Sex , dtype: int64
17                154
18                150
20                140
19                140
15                137
                 ...
20?                 1
 28                 1
7      &    31      1
 30                 1
2½                  1
Name: Age, Length: 156, dtype: int64
Afternoon      183
11h00          128
Morning        120
12h00          108
15h00          108
              ...
14h37            1
10h07            1
13h53            1
13h23            1
19h00-20h00      1
Name: Time, Length: 366, dtype: int64
White shark                                           161
Shark involvement prior to death was not confirmed    105
Invalid                                               101
Shark involvement not confirmed                        87
Tiger shark                                            70
                                                     ...
Blacktip shark, 5' to 6'                                1
3' shark, possibly  a blacktip or spinner shark         1
Possibly  a blacktip or spinner shark                   1
12' sandtiger shark                                     1
Thought to involve a porbeagle or mako shark            1
Name: Species , Length: 1529, dtype: int64
C. Moore, GSAF                                             95
C. Creswell, GSAF                                          92
S. Petersohn, GSAF                                         82
R. Collier                                                 55
R. Collier, GSAF                                           48
                                                           ..
Miami Herald, 5/18/1997                                     1
The Mirror (London); Orlando Sentinel, 5/28, 1997, p.C3     1
A. Mikula, Daytona Beach News-Journal, 6/1/1997, p.2C       1
A. Mikula, Daytona Beach News-Journal, 6/1/199,  p.2C       1
The Evening Post, 12/18/1801                                1
Name: Investigator or Source, Length: 4837, dtype: int64
1898.00.00.R-Syria.pdf                 2
1916.07.12.a-b-Stillwell-Fisher.pdf    2
1931.09.21.a-b-Holaday-Barrows.pdf     2
1906.09.27.R.a&b-Munich-Swede.pdf      2
1934.12.23.a-b-Inman.pdf               2
                                      ..
2000.07.04.b-Peterson.pdf              1
2000.07.06-Walker.pdf                  1
2000.07.07-Doolittle.pdf               1
2000.07.09-Zent.pdf                    1
1801.12.18.R-Pettigrew.pdf             1
Name: pdf, Length: 6105, dtype: int64
http://sharkattackfile.net/spreadsheets/pdf_directory/1898.00.00.R-Syria.pdf                 2
http://sharkattackfile.net/spreadsheets/pdf_directory/1916.07.12.a-b-Stillwell-Fisher.pdf    2
http://sharkattackfile.net/spreadsheets/pdf_directory/1931.09.21.a-b-Holaday-Barrows.pdf     2
http://sharkattackfile.net/spreadsheets/pdf_directory/1906.09.27.R.a&b-Munich-Swede.pdf      2
http://sharkattackfile.net/spreadsheets/pdf_directory/1934.12.23.a-b-Inman.pdf               2
                                                                                            ..
http://sharkattackfile.net/spreadsheets/pdf_directory/2000.07.06-Walker.pdf                  1
http://sharkattackfile.net/spreadsheets/pdf_directory/2000.07.07-Doolittle.pdf               1
http://sharkattackfile.net/spreadsheets/pdf_directory/2000.07.09-Zent.pdf                    1
http://sharkattackfile.net/spreadsheets/pdf_directory/2000.07.10-MA.pdf                      1
http://sharkattackfile.net/spreadsheets/pdf_directory/1801.12.18.R-Pettigrew.pdf             1
Name: href formula, Length: 6104, dtype: int64
http://sharkattackfile.net/spreadsheets/pdf_directory/w014.01.25-Grant.pdf               4
http://sharkattackfile.net/spreadsheets/pdf_directory/2014.10.02.b-Vandenberg.pdf        3
http://sharkattackfile.net/spreadsheets/pdf_directory/1935.06.05.R-SolomonIslands.pdf    2
http://sharkattackfile.net/spreadsheets/pdf_directory/1934.12.23.a-b-Inman.pdf           2
http://sharkattackfile.net/spreadsheets/pdf_directory/1916.12.08.a-b-German.pdf          2
                                                                                        ..
http://sharkattackfile.net/spreadsheets/pdf_directory/2000.06.30-NV-PNG.pdf              1
http://sharkattackfile.net/spreadsheets/pdf_directory/2000.07.00-NV-Tanzania.pdf         1
http://sharkattackfile.net/spreadsheets/pdf_directory/2000.07.02.a-Shidemantle.pdf       1
http://sharkattackfile.net/spreadsheets/pdf_directory/2000.07.02.b-Benningfield.pdf      1
http://sharkattackfile.net/spreadsheets/pdf_directory/1801.12.18.R-Pettigrew.pdf         1
Name: href, Length: 6099, dtype: int64
1952.08.04      2
2018.06.25      1
1959.07.23.b    1
1959.06.13      1
1959.06.14.a    1
               ..
2000.07.02.a    1
2000.07.02.b    1
2000.07.04.a    1
2000.07.04.b    1
1801.12.18.R    1
Name: Case Number.1, Length: 6113, dtype: int64
2018.06.25      1
1959.07.23.a    1
1959.05.30      1
1959.06.13      1
1959.06.14.a    1
               ..
2000.07.02.a    1
2000.07.02.b    1
2000.07.04.a    1
2000.07.04.b    1
1801.12.18.R    1
Name: Case Number.2, Length: 6114, dtype: int64
569.0     2
6303.0    1
2208.0    1
2210.0    1
2211.0    1
         ..
4260.0    1
4261.0    1
4262.0    1
4263.0    1
172.0     1
Name: original order, Length: 6113, dtype: int64
stopped here    1
Name: Unnamed: 22, dtype: int64
Teramo             1
change filename    1
Name: Unnamed: 23, dtype: int64
0       1
4084    1
4093    1
4092    1
4091    1
       ..
2043    1
2042    1
2041    1
2040    1
6131    1
Name: Unnamed: 0, Length: 6114, dtype: int64
2018.06.25      1
1959.07.23.a    1
1959.05.30      1
1959.06.13      1
1959.06.14.a    1
               ..
2000.07.02.a    1
2000.07.02.b    1
2000.07.04.a    1
2000.07.04.b    1
1801.12.18.R    1
Name: Case Number, Length: 6113, dtype: int64
2015.0    143
2017.0    136
2016.0    130
2011.0    128
2014.0    126
         ...
1819.0      1
1822.0      1
1823.0      1
1834.0      1
1801.0      1
Name: Year, Length: 207, dtype: int64
Unprovoked      4438
Provoked         564
Invalid          537
Sea Disaster     232
Boating          203
Boat             133
Questionable       2
Boatomg            1
Name: Type, dtype: int64
USA                               2200
AUSTRALIA                         1316
SOUTH AFRICA                       569
PAPUA NEW GUINEA                   130
NEW ZEALAND                        126
                                  ...
RED SEA / INDIAN OCEAN               1
BRITISH WEST INDIES                  1
ADMIRALTY ISLANDS                    1
FEDERATED STATES OF MICRONESIA       1
GHANA                                1
Name: Country, Length: 201, dtype: int64
Florida              1025
New South Wales       480
Queensland            306
Hawaii                293
California            286
                     ...
St. Mary's Parish       1
Romblon Province        1
Lamu Archipelago        1
Los Vilos               1
Maharashtra             1
Name: Area, Length: 791, dtype: int64
New Smyrna Beach, Volusia County                             162
Daytona Beach, Volusia County                                 30
Ponce Inlet, Volusia County                                   20
Melbourne Beach, Brevard County                               18
Myrtle Beach, Horry County                                    17
                                                            ...
Ocean Beach, Jaycee Park, Vero Beach, Indian River County      1
South Beach Park, Indian River County                          1
460 miles off Iwakuni                                          1
 Boa Viagem Beach, Recife                                      1
Hamelin Harbour, at Faure Island                               1
Name: Location, Length: 4020, dtype: int64
Surfing                                                        966
Swimming                                                       842
Fishing                                                        419
Spearfishing                                                   330
Bathing                                                        156
                                                              ...
Motor launch Baby Princesa capsized with 22 people on board      1
Sea Disaster Sinking of ferryboat Christina                      1
Wreck of the 1689-ton Portuguese  coaster Angoche                1
Hookah diving (submerged)                                        1
Standing on landed shark's tail                                  1
Name: Activity, Length: 1484, dtype: int64
male                 511
female                93
boy                   21
2 males               16
boat                  13
                    ...
Chuck Anderson         1
Richard Whatley        1
Kenny Alexander        1
22' pleasure boat      1
Stephen Pettigew       1
Name: Name, Length: 5118, dtype: int64
M      4939
F       619
M         2
N         2
lli       1
.         1
Name: Sex , dtype: int64
17                154
18                150
20                140
19                140
15                137
                 ...
20?                 1
 28                 1
7      &    31      1
 30                 1
2½                  1
Name: Age, Length: 156, dtype: int64
Afternoon      183
11h00          128
Morning        120
12h00          108
15h00          108
              ...
14h37            1
10h07            1
13h53            1
13h23            1
19h00-20h00      1
Name: Time, Length: 366, dtype: int64
White shark                                           161
Shark involvement prior to death was not confirmed    105
Invalid                                               101
Shark involvement not confirmed                        87
Tiger shark                                            70
                                                     ...
Blacktip shark, 5' to 6'                                1
3' shark, possibly  a blacktip or spinner shark         1
Possibly  a blacktip or spinner shark                   1
12' sandtiger shark                                     1
Thought to involve a porbeagle or mako shark            1
Name: Species , Length: 1529, dtype: int64
C. Moore, GSAF                                             95
C. Creswell, GSAF                                          92
S. Petersohn, GSAF                                         82
R. Collier                                                 55
R. Collier, GSAF                                           48
                                                           ..
Miami Herald, 5/18/1997                                     1
The Mirror (London); Orlando Sentinel, 5/28, 1997, p.C3     1
A. Mikula, Daytona Beach News-Journal, 6/1/1997, p.2C       1
A. Mikula, Daytona Beach News-Journal, 6/1/199,  p.2C       1
The Evening Post, 12/18/1801                                1
Name: Investigator or Source, Length: 4837, dtype: int64
1898.00.00.R-Syria.pdf                 2
1916.07.12.a-b-Stillwell-Fisher.pdf    2
1931.09.21.a-b-Holaday-Barrows.pdf     2
1906.09.27.R.a&b-Munich-Swede.pdf      2
1934.12.23.a-b-Inman.pdf               2
                                      ..
2000.07.04.b-Peterson.pdf              1
2000.07.06-Walker.pdf                  1
2000.07.07-Doolittle.pdf               1
2000.07.09-Zent.pdf                    1
1801.12.18.R-Pettigrew.pdf             1
Name: pdf, Length: 6105, dtype: int64
http://sharkattackfile.net/spreadsheets/pdf_directory/1898.00.00.R-Syria.pdf                 2
http://sharkattackfile.net/spreadsheets/pdf_directory/1916.07.12.a-b-Stillwell-Fisher.pdf    2
http://sharkattackfile.net/spreadsheets/pdf_directory/1931.09.21.a-b-Holaday-Barrows.pdf     2
http://sharkattackfile.net/spreadsheets/pdf_directory/1906.09.27.R.a&b-Munich-Swede.pdf      2
http://sharkattackfile.net/spreadsheets/pdf_directory/1934.12.23.a-b-Inman.pdf               2
                                                                                            ..
http://sharkattackfile.net/spreadsheets/pdf_directory/2000.07.06-Walker.pdf                  1
http://sharkattackfile.net/spreadsheets/pdf_directory/2000.07.07-Doolittle.pdf               1
http://sharkattackfile.net/spreadsheets/pdf_directory/2000.07.09-Zent.pdf                    1
http://sharkattackfile.net/spreadsheets/pdf_directory/2000.07.10-MA.pdf                      1
http://sharkattackfile.net/spreadsheets/pdf_directory/1801.12.18.R-Pettigrew.pdf             1
Name: href formula, Length: 6104, dtype: int64
http://sharkattackfile.net/spreadsheets/pdf_directory/w014.01.25-Grant.pdf               4
http://sharkattackfile.net/spreadsheets/pdf_directory/2014.10.02.b-Vandenberg.pdf        3
http://sharkattackfile.net/spreadsheets/pdf_directory/1935.06.05.R-SolomonIslands.pdf    2
http://sharkattackfile.net/spreadsheets/pdf_directory/1934.12.23.a-b-Inman.pdf           2
http://sharkattackfile.net/spreadsheets/pdf_directory/1916.12.08.a-b-German.pdf          2
                                                                                        ..
http://sharkattackfile.net/spreadsheets/pdf_directory/2000.06.30-NV-PNG.pdf              1
http://sharkattackfile.net/spreadsheets/pdf_directory/2000.07.00-NV-Tanzania.pdf         1
http://sharkattackfile.net/spreadsheets/pdf_directory/2000.07.02.a-Shidemantle.pdf       1
http://sharkattackfile.net/spreadsheets/pdf_directory/2000.07.02.b-Benningfield.pdf      1
http://sharkattackfile.net/spreadsheets/pdf_directory/1801.12.18.R-Pettigrew.pdf         1
Name: href, Length: 6099, dtype: int64
1952.08.04      2
2018.06.25      1
1959.07.23.b    1
1959.06.13      1
1959.06.14.a    1
               ..
2000.07.02.a    1
2000.07.02.b    1
2000.07.04.a    1
2000.07.04.b    1
1801.12.18.R    1
Name: Case Number.1, Length: 6113, dtype: int64
2018.06.25      1
1959.07.23.a    1
1959.05.30      1
1959.06.13      1
1959.06.14.a    1
               ..
2000.07.02.a    1
2000.07.02.b    1
2000.07.04.a    1
2000.07.04.b    1
1801.12.18.R    1
Name: Case Number.2, Length: 6114, dtype: int64
569.0     2
6303.0    1
2208.0    1
2210.0    1
2211.0    1
         ..
4260.0    1
4261.0    1
4262.0    1
4263.0    1
172.0     1
Name: original order, Length: 6113, dtype: int64
stopped here    1
Name: Unnamed: 22, dtype: int64
Teramo             1
change filename    1
Name: Unnamed: 23, dtype: int64
0       1
4084    1
4093    1
4092    1
4091    1
       ..
2043    1
2042    1
2041    1
2040    1
6131    1
Name: Unnamed: 0, Length: 6114, dtype: int64
2018.06.25      1
1959.07.23.a    1
1959.05.30      1
1959.06.13      1
1959.06.14.a    1
               ..
2000.07.02.a    1
2000.07.02.b    1
2000.07.04.a    1
2000.07.04.b    1
1801.12.18.R    1
Name: Case Number, Length: 6113, dtype: int64
2015.0    143
2017.0    136
2016.0    130
2011.0    128
2014.0    126
         ...
1819.0      1
1822.0      1
1823.0      1
1834.0      1
1801.0      1
Name: Year, Length: 207, dtype: int64
Unprovoked      4438
Provoked         564
Invalid          537
Sea Disaster     232
Boating          203
Boat             133
Questionable       2
Boatomg            1
Name: Type, dtype: int64
USA                               2200
AUSTRALIA                         1316
SOUTH AFRICA                       569
PAPUA NEW GUINEA                   130
NEW ZEALAND                        126
                                  ...
RED SEA / INDIAN OCEAN               1
BRITISH WEST INDIES                  1
ADMIRALTY ISLANDS                    1
FEDERATED STATES OF MICRONESIA       1
GHANA                                1
Name: Country, Length: 201, dtype: int64
Florida              1025
New South Wales       480
Queensland            306
Hawaii                293
California            286
                     ...
St. Mary's Parish       1
Romblon Province        1
Lamu Archipelago        1
Los Vilos               1
Maharashtra             1
Name: Area, Length: 791, dtype: int64
New Smyrna Beach, Volusia County                             162
Daytona Beach, Volusia County                                 30
Ponce Inlet, Volusia County                                   20
Melbourne Beach, Brevard County                               18
Myrtle Beach, Horry County                                    17
                                                            ...
Ocean Beach, Jaycee Park, Vero Beach, Indian River County      1
South Beach Park, Indian River County                          1
460 miles off Iwakuni                                          1
 Boa Viagem Beach, Recife                                      1

- Cambiad el nombre de las columnas para que todas estén en minúsculas y reemplazad los espacios por _.

In [99]:
cambio_columnas = {col :  col.lower() for col in df.columns}

In [101]:
df2 = df.rename(columns = cambio_columnas) #inplace = True
df2

,unnamed: 0,case number,year,type,country,area,location,activity,name,sex,...,species,investigator or source,pdf,href formula,href,case number.1,case number.2,original order,unnamed: 22,unnamed: 23
0,0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,1,2018.06.18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2,2018.06.09,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,3,2018.06.08,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,4,2018.06.04,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6109,6127,1804.02.26.R,1804.0,Boat,AUSTRALIA,New South Wales,"Georges Head, off Port Jackson",NaN,boat,NaN,...,NaN,"Sydney Gazette, 2/26/1804",1804.02.26-boat-GeorgesHead.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1804.02.26.R,1804.02.26.R,176.0,NaN,NaN
6110,6128,1803.05.17,1803.0,Sea Disaster,USA,South Carolina,Off Charleston,NaN,Captain Jones,M,...,NaN,"Evening Post, 6/13/1803",1803.05.17-Jones.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1803.05.17,1803.05.17,175.0,NaN,NaN
6111,6129,1803.03.00,1803.0,Unprovoked,AUSTRALIA,Western Australia,"Hamelin Harbour, at Faure Island",NaN,M. Lefevre & a sailor (rescuer),M,...,NaN,F. Peron ref in G.P. Whitley (Fishes of Austr...,1803.03.00-Lefevre.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1803.03.00,1803.03.00,174.0,NaN,NaN
6112,6130,1802.04.13.R,1802.0,Unprovoked,INDIA,NaN,NaN,NaN,NaN,NaN,...,NaN,Evening Post (New York) 4/13/1802,1802.04.13.R-India.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1802.04.13.R,1802.04.13.R,173.0,NaN,NaN
6113,6131,1801.12.18.R,1801.0,Provoked,NaN,NaN,NaN,Standing on landed shark's tail,Stephen Pettigew,N,...,12' shark,"The Evening Post, 12/18/1801",1801.12.18.R-Pettigrew.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1801.12.18.R,1801.12.18.R,172.0,NaN,NaN

- Eliminad las columnas de Unnamed: 22 y Unnamed: 23, Case Number.1, Case Number.2, original order, Investigator or Source, pdf, href formula.

In [102]:
df2.drop(['unnamed: 22', 'unnamed: 23', 'case number.1','case number.2', 'original order', 'investigator or source','pdf', 'href formula'], axis=1)

,unnamed: 0,case number,year,type,country,area,location,activity,name,sex,age,time,species,href
0,0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
1,1,2018.06.18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,14h00 -15h00,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
2,2,2018.06.09,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,07h45,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
3,3,2018.06.08,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,NaN,2 m shark,http://sharkattackfile.net/spreadsheets/pdf_di...
4,4,2018.06.04,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,NaN,"Tiger shark, 3m",http://sharkattackfile.net/spreadsheets/pdf_di...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6109,6127,1804.02.26.R,1804.0,Boat,AUSTRALIA,New South Wales,"Georges Head, off Port Jackson",NaN,boat,NaN,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
6110,6128,1803.05.17,1803.0,Sea Disaster,USA,South Carolina,Off Charleston,NaN,Captain Jones,M,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
6111,6129,1803.03.00,1803.0,Unprovoked,AUSTRALIA,Western Australia,"Hamelin Harbour, at Faure Island",NaN,M. Lefevre & a sailor (rescuer),M,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
6112,6130,1802.04.13.R,1802.0,Unprovoked,INDIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
6113,6131,1801.12.18.R,1801.0,Provoked,NaN,NaN,NaN,Standing on landed shark's tail,Stephen Pettigew,N,NaN,NaN,12' shark,http://sharkattackfile.net/spreadsheets/pdf_di...

- Establece la columna Case Number como índice del DataFrame.

In [103]:
df2.set_index(['case number'], inplace= True)

- Guarda el csv que no tiene esas columnas para seguir usándolo mañana.

In [105]:
open('attacks1.csv','x')

In [106]:
df2.to_csv('attacks1.csv')