## PANDAS IV Filtrado de datos

1. Cargad el csv que guardasteis ayer.  

Antes de seguir con las preguntas, este DataFrame estÃ¡ terriblemente sucio. En las prÃ³ximas sesiones lo iremos limpiando. Para evitar posibles errores con los nulos vamos a eliminar todos los nulos del DataFrame.  
Para ello vamos a utilizar el mÃ©todo .dropna() de pandas. TendrÃ©is que ejecutar la siguiente lÃ­nea de cÃ³digo para eliminar los nulos del DataFrame y poder seguir haciendo el resto de los ejercicios.

In [23]:
import pandas as pd
import numpy as np

In [25]:
df = pd.read_csv("attacks1.csv")
df.head(2)

,case_number,unnamed:_0,year,type,country,area,location,activity,name,sex,age,time,species,href
0,2018.06.25,0,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
1,2018.06.18,1,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonÂ McNeely,F,11,14h00 -15h00,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...

In [26]:
df2=df.dropna()

Â¿CuÃ¡ntas filas se han eliminado con esta lÃ­nea de cÃ³digo?

In [27]:
print(f'Se han eliminado {df.shape[0]-df2.shape[0]} filas')

Se han eliminado 4612 filas

2. Â¿CuÃ¡l es el nÃºmero de ataques que se han producido en Estados Unidos?

In [30]:
ataques_USA=df2[df2['country']=='USA']

print(f'Se han producido {ataques_USA.shape[0]} ataques en Estados Unidos')

Se han producido 719 ataques en Estados Unidos

Se han producido 719 ataques en Estados Unidos

3. Â¿Y en EspaÃ±a?

In [31]:
ataques_SP=df2[df2['country']=='SPAIN']

print(f'Se han producido {ataques_SP.shape[0]} ataques en EspaÃ±a')

Se han producido 5 ataques en EspaÃ±a

 Â¿En quÃ© regiones se han producido los ataques (columna location) ?

In [32]:
ataques_sp_region=ataques_SP['location'].value_counts() 
ataques_sp_region

Grao de Moncofa                   1
Arenales del Sol                  1
Poniente Beach, Benidorm          1
Sardina del Norte, GÃ¡ldar         1
Playa de las Arenas, Valencia     1
Name: location, dtype: int64

Â¿CuÃ¡ntos ataques se han producido en cada Ã¡rea (columna area)?

In [33]:
ataques_sp_area=ataques_SP['area'].value_counts()
ataques_sp_area

CastellÃ³n              1
Alicante Province      1
Alicante               1
Grand Canary Island    1
Costa Blanca           1
Name: area, dtype: int64

4. Extraed un DataFrame nuevo con los ataques que se han producido en Australia y Estados Unidos. ðŸ“Œ Nota Este ejercicio se puede resolver usando dos condiciones de filtrado o usando el mÃ©todo isin(). Hacedlo con ambas herramientas.

In [34]:
# Metodo isin()

ataques_USA_AUST=df2[df2['country'].isin(['USA','AUSTRALIA'])] 
ataques_USA_AUST.head(2)

,case_number,unnamed:_0,year,type,country,area,location,activity,name,sex,age,time,species,href
0,2018.06.25,0,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
8,2018.05.26.b,8,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,15,17h00,"Bull shark, 6'",http://sharkattackfile.net/spreadsheets/pdf_di...

In [36]:
# Con condiciones de filtrado

ataques_USA_AUST_2=df2[(df2['country']=='USA') | (df2['country']=='AUSTRALIA') ]
ataques_USA_AUST_2.head()

,case_number,unnamed:_0,year,type,country,area,location,activity,name,sex,age,time,species,href
0,2018.06.25,0,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
8,2018.05.26.b,8,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,15,17h00,"Bull shark, 6'",http://sharkattackfile.net/spreadsheets/pdf_di...
10,2018.05.24,10,2018.0,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,male,M,32,Morning,Grey reef shark,http://sharkattackfile.net/spreadsheets/pdf_di...
21,2018.04.25.a,21,2018.0,Unprovoked,AUSTRALIA,Western Australia,"Surfers Point, Prevelly",Surfing,Rob Bruce,M,60,09h30,3 m shark,http://sharkattackfile.net/spreadsheets/pdf_di...
35,2018.03.31,35,2018.0,Unprovoked,USA,Hawaii,Kukio Beach,Stand-Up Paddleboarding,male,M,25,09h30,"Tiger shark, 12'",http://sharkattackfile.net/spreadsheets/pdf_di...

Â¿CuÃ¡ntos ataques se han producido en cada paÃ­s?

In [37]:
ataques_USA_AUST['country'].value_counts()
#719 ataques en USA y 324 en AUSTRALIA

USA          719
AUSTRALIA    324
Name: country, dtype: int64

Â¿Ha habido ataques en Australia a gente que estuviera remando (lo encontrareis como Paddling en el DataFrame en la columna activity)?

In [40]:
ataques_USA_AUST_2[(ataques_USA_AUST_2['country']=='AUSTRALIA') & (ataques_USA_AUST_2['activity']=='Paddling') ]
# No ha habido ataques en Australia a gente que estuviera haciendo Paddling.

Empty DataFrame
Columns: [case_number, unnamed:_0, year, type, country, area, location, activity, name, sex, age, time, species, href]
Index: []

Â¿CuÃ¡ntos ataques se han producido en Australia antes del 2000?

In [48]:
ataques_antes_2000 = ataques_USA_AUST_2[(ataques_USA_AUST_2['country']=='AUSTRALIA') & (ataques_USA_AUST_2['year']<2000) ]

print(f'{ataques_antes_2000.shape[0]} en AUSTRALIA antes de aÃ±o 2000')

151 en AUSTRALIA antes de aÃ±o 2000

5. Extraed unicamente los ataques a mujeres.

In [45]:
mujeres_aust=ataques_USA_AUST_2[(ataques_USA_AUST_2['country']=='AUSTRALIA') & (ataques_USA_AUST_2['sex']=='F') ]

print(f'{mujeres_aust.shape[0]} mujeres han sido atacadas en Australia')

31 mujeres han sido atacadas en Australia

6. Â¿CuÃ¡ntas mujeres fueron atacadas en EspaÃ±a?

In [51]:
mujeres_sp=df2[(df2['country']=='SPAIN') & (df2['sex']=='F') ]

print(f'{mujeres_sp.shape[0]} mujeres han sido atacadas en EspaÃ±a')

1 mujeres han sido atacadas en EspaÃ±a

7. Extraed los ataques que se hayan producido en el aÃ±o 2000, 1997 y 2006. Utilizad el mÃ©todo isin() para resolver este ejercicio.

In [52]:
ataques_aÃ±os=df2[df2['year'].isin([2000,1997,2006])]
ataques_aÃ±os.shape

print (f'En los aÃ±os 2000,1997 y 2006 se han resgistrado un total de {ataques_aÃ±os.shape[0]} ataques ')

En los aÃ±os 2000,1997 y 2006 se han resgistrado un total de 92 ataques

8. Si extraemos los valores Ãºnicos de la columna species nos podemos dar cuenta que estÃ¡ un poco sucia y extraer informacion Ãºtil de la misma se puede convertir en algo difÃ­cil. En este ejercicio tendrÃ©is que extraer los ataques que han ocurrido por tiburÃ³n blanco (lo encontraremos en la columna species como algo que contenga white o White). Usad el mÃ©todo str.contains() para resolver este ejercicio.

In [72]:
patron = 'white' 
tiburon_blanco = df2[df2["species"].str.contains(patron, case=True ,regex=True)]

In [73]:
tiburon_blanco.shape # Hubo 139 casos que ocurrieron con un tiburon blanco.

(139, 14)

9. Extraed ahora los ataques por tiburÃ³n blanco o tigre. Utilizad el mÃ©todo str.contains() para resolver este ejercicio.

In [66]:
patron = 'white|tiger' 
tiburon_bco_tiger = df2[df2["species"].str.contains(patron, case=True, regex=True)]

In [74]:
tiburon_bco_tiger.shape # Hubo 157 casos que ocurrieron con tiburones blanco o tigre

(157, 14)

10. Utilizando la columna de year cread una nueva columna llamada siglo que tiene siglo-XX o siglo-XXI. Donde el aÃ±o sea menor que 2000 pondremos siglo-XX y el resto de los aÃ±os siglo-XXI.

In [ ]:
df2["siglo"] = np.where(df2["year"] <2000,"siglo-XX", "siglo-XXI")

In [82]:
df2.columns #Verificamos que se creo la columna siglo

Index(['case_number', 'unnamed:_0', 'year', 'type', 'country', 'area',
       'location', 'activity', 'name', 'sex', 'age', 'time', 'species', 'href',
       'siglo'],
      dtype='object')

11. Guardad como un archivo csv nuevo. Lo usaremos en el pair programming de maÃ±ana.

In [83]:
df2.to_csv('attacks2.csv')