## PANDAS VI Groupby

In [2]:
import pandas as pd

1. 쮺u치ntos ataques hubo por pa칤s? Devuelve un DataFrame.  
游늷 NOTA Ordena los resultados de mayor a menor. Esto todav칤a no lo hemos visto, pero un DataFrame lo podemos ordenar con .sort_values(). Aqu칤 ten칠is una explicaci칩n de c칩mo hacerlo

In [23]:
df=pd.read_csv('files/attacks3.csv')

In [26]:
df_p=df['country'].value_counts()

In [27]:
df_pais = pd.DataFrame(df_p)
df_pais

                    country
USA                     741
AUSTRALIA               343
SOUTH AFRICA            234
BAHAMAS                  29
NEW ZEALAND              21
...                     ...
GREENLAND                 1
ST. MAARTIN               1
UNITED KINGDOM            1
SWEDEN                    1
CEYLON (SRI LANKA)        1

[95 rows x 1 columns]

2. 쮺u치ntos ataques ha habido por a침o? Devuelve un DataFrame. De nuevo ordena los resultados de mayor a menor.

In [32]:
df_a=df.groupby("year")['year'].count()

In [34]:
df_a침o = pd.DataFrame(df_a)

In [36]:
df_a침o.rename(columns={'year':'frecuencia'}, inplace= True)

In [43]:
df_a침o.sort_values(by=['frecuencia'], ascending=False, inplace=True)

In [44]:
df_a침o.head(2)# Verificamos que conto por a침os la cantidad de ataques.

        frecuencia
year
0.0            125
2015.0          68

In [45]:
df_a침o.tail(2)# Verificamos que conto por a침os la cantidad de ataques.

        frecuencia
year
1779.0           1
1780.0           1

3. 쮺u치ntos ataques hubo por a침o y sexo? Devolved un DataFrame solo del a침o 2000 en adelante.

In [52]:
df_a침o_sex = df[df['year']>=2000].groupby(['year','sex']).count()
df_a침o_sex.head(4)

            case_number  type  country  area  location  activity  name  age  \
year   sex
2000.0 F              7     7        7     7         7         7     7    7
       M             26    26       26    26        26        26    26   26
2001.0 F              3     3        3     3         3         3     3    3
       M             26    26       26    26        26        26    26   26

            time  species  href  siglo  fatal_(y/n)  injury  date
year   sex
2000.0 F       7        7     7      7            7       7     7
       M      26       26    26     26           26      26    26
2001.0 F       3        3     3      3            3       3     3
       M      26       26    26     26           26      26    26

4. Primero extraed solo las filas que correspondan a USA, AUSTRALIA y SOUTH AFRICA. 쮺u치ntos de los ataques fueron letales por sexo? Devuelve un DataFrame.

In [53]:
df_varios=df[(df['country']=='USA')|(df['country']=='AUSTRALIA')|(df['country']=='SOUTH AFRICA')]

In [71]:
fatales= df_varios[df_varios['fatal_(y/n)']=="Y"]

In [80]:
df_fatales = fatales.groupby(['sex','country']).count()
fatales_sex = pd.DataFrame(df_fatales['fatal_(y/n)'])
fatales_sex

                  fatal_(y/n)
sex country
F   AUSTRALIA              12
    SOUTH AFRICA            3
    USA                     5
M   AUSTRALIA              87
    SOUTH AFRICA           47
    USA                    38

5 Usando el DataFrame creado en el ejercicio anterior. 쮼n qu칠 pa칤s hubo m치s ataques?

In [118]:
df_pais = pd.DataFrame(df_varios.groupby("country")['country'].count())
df_pais.rename(columns={'country':'cantidad'} , inplace= True)
df_pais.sort_values(by=['country'], ascending=False)

              cantidad
country
USA                741
SOUTH AFRICA       234
AUSTRALIA          343

6. 쯈u칠 y cu치ntos tipos de ataques hubo por pa칤s?

In [151]:
tipos = pd.DataFrame(df_varios.groupby('country')['type'].value_counts())
tipos

                           type
country      type
AUSTRALIA    Unprovoked     290
             Provoked        27
             Invalid         18
             Boating          4
             Sea Disaster     3
             Boat             1
SOUTH AFRICA Unprovoked     210
             Provoked        14
             Invalid         10
USA          Unprovoked     632
             Provoked        49
             Invalid         48
             Boating         11
             Sea Disaster     1