## PANDAS VII  Apply

En el ejercicio de ayer estuvimos viendo el groupby y pudimos observar que los datos estaban un poco sucios... ðŸ˜­. En los ejercicios de hoy pondremos en prÃ¡ctica los apply, y nos crearemos algunas funciones que nos van a permitir limpiar un poco los datos, para que podamos extraer conclusiones de una forma mÃ¡s sencilla.

In [58]:
import pandas as pd
import os
import numpy as np
import regex as re
import random

In [27]:
df=pd.read_csv('files/attacks3.csv')

In [28]:
df['date'].unique()

array(['25-Jun-2018', '03-Jun-2018', '26-May-2018', ..., '1900-1905',
       '1883-1889', '1845-1853'], dtype=object)

1) Cread una columna nueva y una funciÃ³n que nos de el mes en el que ocurriÃ³ el ataque. Tened en cuenta que no todas las filas tienen la misma estructura y que puede que no haya la informaciÃ³n de mes. En ese caso devolved un nulo (NaN).
ðŸ’¡ Pista ðŸ’¡PodÃ©is usar regex.

In [68]:
patron = '\w*-(\w+)-\w*'

for i in df['date']:
    return re.findall(patron, col)

TypeError: 'DataFrame' object is not callable

In [9]:
df2 =df['date']

In [10]:
re.findall(patron,df2)

TypeError: expected string or buffer

In [23]:
if df['date'].str.contains(patron, case=True, regex=True) == True:
    for  i in df['date']:
        print(i)
    #df2 = ['date'].split('-')[1]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [90]:
df['date'].str.contains(patron, case=True, regex=True)

/var/folders/db/hp0l5_js4yv8br5y2tc3frpm0000gn/T/ipykernel_24011/3679967907.py:1: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df['date'].str.contains(patron, case=True, regex=True)

0        True
1        True
2        True
3        True
4        True
        ...
1667    False
1668    False
1669    False
1670    False
1671    False
Name: date, Length: 1672, dtype: bool

In [100]:
def mes(col):
    
    patron = '\d*-(\w*)-\d*'

    try: 

        #if patron = '\d*-(\w*)-\d*':
        #if re.findall(patron, df['col']):
        
        #if col.str.contains(patron, case=True, regex=True):
                 
            return col.join(re.findall(patron, col))
                
        
            pass
    #except:
            #return np.nan

SyntaxError: unexpected EOF while parsing (2339461907.py, line 18)

In [107]:
re.findall('\d*-(\w*)-\d*',df['date'])

TypeError: expected string or buffer

In [116]:
def mes(col):
    patron = '\d*-(\w*)-\d*'
    try:
        if meses = re.findall(patron,col):
        return col.join(re.findall(patron,col))
    except:
        return np.nan

In [159]:
def mes(col):
    patron = '\d*-(\w*)-\d*'
    try:
        #if meses = re.findall(patron,col):
        return col.join(re.findall(patron,col))
    except: 
        return np.nan

In [160]:
df['date'].apply(mes)

0       Jun
1       Jun
2       May
3       May
4       May
       ...
1667
1668
1669
1670
1671
Name: date, Length: 1672, dtype: object

In [161]:
df['mes'] = df['date'].apply(mes)
df.tail(20)

,case_number,year,type,country,area,location,activity,name,sex,age,time,species,href,siglo,fatal_(y/n),injury,date,mes,fatal,genero
1652,ND.0020,0.0,Unprovoked,AUSTRALIA,Queensland,Great Barrier Reef,NaN,3 Japanese divers,M,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,Y,FATAL,1920 -1923,,Y,M
1653,ND.0019,0.0,Unprovoked,USA,Florida,"Gadsden Point, Tampa Bay",Fishing,James Kelley,M,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,N,2-inch lacerations,Before 1921,,N,M
1654,ND.0018,0.0,Unprovoked,VIETNAM,Ba Ria-Vung Tau Province,V?ng TÃ u,Swimming around anchored ship,crewman,M,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,N,Foot bitten,Before 1911,,N,M
1655,ND.0017,0.0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Durban,Crew swimming alongside their anchored ship,male,M,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,Y,FATAL,Before 1921,,Y,M
1656,ND.0016,0.0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Durban,4 men were bathing,male,M,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,Y,FATAL,Before 1921,,Y,M
1657,ND.0015,0.0,Unprovoked,FIJI,Moala Island,NaN,Wreck of large double sailing canoe,20 Fijians,NaN,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,Y,"FATAL, 18 people were killed by sharks, 2 sur...",Before 1917,,Y,NaN
1658,ND.0014,0.0,Unprovoked,USA,North Carolina,Somewhere between Hatteras and Beaufort,Swimming,"""youthful male""",M,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,N,"""Lost leg""",Before 17-Jul-1916,Jul,N,M
1659,ND.0013,0.0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Durban,Fishing,a native fisherman,M,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,Y,"FATAL, body not recovered but shark was caught...",No date (3 days after preceding incident) & pr...,Jul,Y,M
1660,ND.0012,0.0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Durban,Wading,a young Scotsman,M,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,Y,"FATAL, leg stripped of flesh",Before 19-Jul-1913,Jul,Y,M
1661,ND.0011,0.0,Unprovoked,ASIA?,NaN,NaN,Swimming,Mr. Masury,M,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,N,Foot severed,Before 1911,,N,M
1662,ND.0010,0.0,Unprovoked,USA,Hawaii,Puna,NaN,"A ""chiefess""",F,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,N,Ankle bitten,Circa 1862,,N,F
1663,ND.0009,0.0,Unprovoked,AUSTRALIA,NaN,NaN,Fishing,boy,M,NaN,NaN,Blue pointer,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,Y,"FATAL, knocked overboard by tail of shark & ca...",Before 1906,,Y,M
1664,ND.0008,0.0,Unprovoked,AUSTRALIA,NaN,NaN,Fishing,fisherman,M,NaN,NaN,Blue pointer,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,Y,FATAL,Before 1906,,Y,M
1665,ND.0007,0.0,Unprovoked,AUSTRALIA,NaN,NaN,Fishing,fisherman,M,NaN,NaN,Blue pointers,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,Y,FATAL,Before 1906,,Y,M
1666,ND.0006,0.0,Unprovoked,AUSTRALIA,New South Wales,,Swimming,Arab boy,M,NaN,NaN,Said to involve a grey nurse shark that leapt ...,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,Y,FATAL,Before 1906,,Y,M
1667,ND.0005,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,Y,FATAL,Before 1903,,Y,M
1668,ND.0004,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,Y,FATAL,Before 1903,,Y,M
1669,ND.0003,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,Y,FATAL,1900-1905,,Y,M
1670,ND.0002,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ÂºN, 79ÂºW",NaN,Jules Patterson,M,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,Y,FATAL,1883-1889,,Y,M
1671,ND.0001,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,Y,"FATAL. ""Shark bit him in half, carrying away t...",1845-1853,,Y,M

2) Vamos con la columna fatal_(y/n). Lo primero que tenÃ©is que hacer es evaluar los valores Ãºnicos que hay. EsperarÃ­amos tener solo dos valores: y y n, pero tristemente no serÃ¡ asÃ­ ðŸ˜­. Cread una columna nueva y una funciÃ³n que devuelva Ãºnicamente y o n y que devuelva un nulo (NaN) si no se encuentra el valor.

In [38]:
df['fatal_(y/n)'].unique() # Verificamos que valores unicos tiene la columna 'fatal_(y/o)'

array(['N', 'Y', nan, 'M', '2017', ' N', 'UNKNOWN'], dtype=object)

In [132]:
def fatal_o_no(col): # Construimos la funcion 


    if col =='M':
        return 'N'
    if col =='N':
        return 'N'
    elif col == ' N':
        return 'N'
    elif col == 'Y':
        return "Y"
    else:
       return np.nan

In [138]:
df['fatal']= df['fatal_(y/n)'].apply(fatal_o_no) # aplicamos el metodo apply

array(['N', 'Y', nan], dtype=object)

In [155]:
df['fatal'].unique() # Verificamos los valores unicos de la nueva columna

array(['N', 'Y', nan], dtype=object)

3) Seguid la misma lÃ³gica que en el ejercicio anterior pero con la columna sex. Pero en este caso vamos a incluir un retito mÃ¡s: En este caso querremos tener dos valores Ãºnicos F y M. De nuevo en la columna hay otros carÃ¡cteres raros como 'M ', 'lli', 'N', '.'. En esos casos, queremos que se reemplacen por M o F de forma aleatoria (tendrÃ©is que usar la librerÃ­a random). En caso de que sea nulo, que la funciÃ³n devuelva nulo (np.nan).

In [139]:
df['sex'].unique() # Verificamos que valores unicos tiene la columna 'sex'

array(['F', 'M', 'lli', nan], dtype=object)

In [146]:
def sex(col): # Construimos la funcion 

    if col == 'M':
        return 'M'
    elif col == 'F':
        return 'F'
    elif col =='lli':
        return  random.choice(['F','M'])
    else:
        return np.nan

In [149]:
df['genero'] = df['sex'].apply(sex) # aplicamos el metodo apply

array(['F', 'M', nan], dtype=object)

In [ ]:
df['genero'].unique() # Verificamos los valores unicos de la nueva columna

4) Una vez que hayÃ¡is terminado eliminad las columnas originales conservando las nuevas.

In [ ]:
#df.drop(['fatal_(y/n)', 'sex'], axis =1, inplace = True]

5) Guardad el dataframe en un csv que usaremos mÃ¡s adelante

- Antes de guardarlo como hemos creado un nuevo Data Frame, vamos a asignar nuevamente a la columna 'case_number' como index para que  luego no nos genere la columna 'Unnamed' al momento de cerrar y abrir el archivo

In [ ]:
#df.set_index(['case_number'], inplace= True)

In [ ]:
#df.to_csv('files/attacks4')