## PANDAS VII  Apply

En el ejercicio de ayer estuvimos viendo el groupby y pudimos observar que los datos estaban un poco sucios... üò≠. En los ejercicios de hoy pondremos en pr√°ctica los apply, y nos crearemos algunas funciones que nos van a permitir limpiar un poco los datos, para que podamos extraer conclusiones de una forma m√°s sencilla.

In [52]:
import pandas as pd
import os
import numpy as np
import regex as re
import random

In [53]:
df=pd.read_csv('files/attacks3.csv')

In [54]:
df['date'].unique()

array(['25-Jun-2018', '03-Jun-2018', '26-May-2018', ..., '1900-1905',
       '1883-1889', '1845-1853'], dtype=object)

1) Cread una columna nueva y una funci√≥n que nos de el mes en el que ocurri√≥ el ataque. Tened en cuenta que no todas las filas tienen la misma estructura y que puede que no haya la informaci√≥n de mes. En ese caso devolved un nulo (NaN).
üí° Pista üí°Pod√©is usar regex.

In [55]:
def mes(col): #Creamos la funcion para encontrar el mes.
    patron = '\-(\w*)-\d*'
    try:
        mes = re.findall(patron,col)
        return mes[0]
        
    except: 
        return np.nan

In [56]:
df['date'].apply(mes) # Verificamos que reconoce el patron correctamente.

0       Jun
1       Jun
2       May
3       May
4       May
       ...
1667    NaN
1668    NaN
1669    NaN
1670    NaN
1671    NaN
Name: date, Length: 1672, dtype: object

In [57]:
df['mes'] = df['date'].apply(mes) # Creamos la columna nueva.

In [58]:
df['mes'].unique() #Verificamos que se creo correctamente la columna mes.

array(['Jun', 'May', 'Apr', 'Mar', 'Feb', 'Jan', 'Dec', 'Nov', 'Oct',
       'Sep', 'Aug', 'Jul', nan, '30', '28'], dtype=object)

2) Vamos con la columna fatal_(y/n). Lo primero que ten√©is que hacer es evaluar los valores √∫nicos que hay. Esperar√≠amos tener solo dos valores: y y n, pero tristemente no ser√° as√≠ üò≠. Cread una columna nueva y una funci√≥n que devuelva √∫nicamente y o n y que devuelva un nulo (NaN) si no se encuentra el valor.

In [59]:
df['fatal_(y/n)'].unique() # Verificamos que valores unicos tiene la columna 'fatal_(y/o)'

array(['N', 'Y', nan, 'M', '2017', ' N', 'UNKNOWN'], dtype=object)

In [60]:
def fatal_o_no(col): # Construimos la funcion 


    if col =='M':
        return 'N'
    if col =='N':
        return 'N'
    elif col == ' N':
        return 'N'
    elif col == 'Y':
        return "Y"
    else:
       return np.nan

In [61]:
df['fatal(y/n)']= df['fatal_(y/n)'].apply(fatal_o_no) # aplicamos el metodo apply

In [64]:
df['fatal(y/n)'].unique() # Verificamos los valores unicos de la nueva columna

array(['N', 'Y', nan], dtype=object)

3) Seguid la misma l√≥gica que en el ejercicio anterior pero con la columna sex. Pero en este caso vamos a incluir un retito m√°s: En este caso querremos tener dos valores √∫nicos F y M. De nuevo en la columna hay otros car√°cteres raros como 'M ', 'lli', 'N', '.'. En esos casos, queremos que se reemplacen por M o F de forma aleatoria (tendr√©is que usar la librer√≠a random). En caso de que sea nulo, que la funci√≥n devuelva nulo (np.nan).

In [65]:
df['sex'].unique() # Verificamos que valores unicos tiene la columna 'sex'

array(['F', 'M', 'lli', nan], dtype=object)

In [66]:
def sex(col): # Construimos la funcion 

    if col == 'M':
        return 'M'
    elif col == 'F':
        return 'F'
    elif col =='lli':
        return  random.choice(['F','M'])
    else:
        return np.nan

In [67]:
df['genero'] = df['sex'].apply(sex) # aplicamos el metodo apply

In [68]:
df['genero'].unique() # Verificamos los valores unicos de la nueva columna

array(['F', 'M', nan], dtype=object)

4) Una vez que hay√°is terminado eliminad las columnas originales conservando las nuevas.

In [70]:
df.drop(['fatal_(y/n)', 'sex'], axis =1, inplace = True)

In [72]:
df.columns #Verificamos que se han eliminado las columnas.

Index(['case_number', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'age', 'time', 'species', 'href', 'siglo', 'injury',
       'date', 'mes', 'fatal(y/n)', 'genero'],
      dtype='object')

5) Guardad el dataframe en un csv que usaremos m√°s adelante

- Antes de guardarlo como hemos creado un nuevo Data Frame, vamos a asignar nuevamente a la columna 'case_number' como index para que  luego no nos genere la columna 'Unnamed' al momento de cerrar y abrir el archivo

In [74]:
df.set_index(['case_number'], inplace= True)

In [75]:
df.to_csv('files/attacks4')