## PANDAS V - Union de datos

Trabajaremos con tres ficheros diferentes:
- El csv que creamos en el ejercicio de pair programming Pandas IV, dónde recordamos eliminamos ciertas columnas que no eran necesarias, y habíamos creado nuevas.
- El csv llamado attacks_historico donde tenemos información sobre los ataques de tiburón previos al año 1800, este fichero lo tenéis un poco mas abajo para descargar.
- El csv llamado attacks_adicional donde tenemos información sobre los ataques de tiburón. de nuevo, este fichero lo tenéis abajo para descargar.
El principal objetivo de este ejercicio de pair programming es acabar teniendo un único DataFrame con toda la información contenida en los tres csv anteriores.

In [1]:
import pandas as pd

1) Cargad los tres ficheros nombrados anteriormente y los exploramos para familizarizarnos con ellos y saber que información tienen en común y debatir con tu compañera como podríamos juntar toda la información.

In [2]:
df = pd.read_csv("files/attacks2.csv")

In [3]:
attacks_historico = pd.read_csv("files/attacks_historico.csv")

In [4]:
attacks_adicional = pd.read_csv("files/attacks_adicional.csv")

- Vamos a realizar una exploracion de los archivos.

In [5]:
df.columns

Index(['case_number', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'sex', 'age', 'time', 'species', 'href', 'siglo'],
      dtype='object')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1502 entries, 0 to 1501
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   case_number  1502 non-null   object
 1   year         1502 non-null   float64
 2   type         1502 non-null   object
 3   country      1502 non-null   object
 4   area         1502 non-null   object
 5   location     1502 non-null   object
 6   activity     1502 non-null   object
 7   name         1502 non-null   object
 8   sex          1502 non-null   object
 9   age          1502 non-null   object
 10  time         1502 non-null   object
 11  species      1502 non-null   object
 12  href         1502 non-null   object
 13  siglo        1502 non-null   object
dtypes: float64(1), object(13)
memory usage: 164.4+ KB

In [8]:
attacks_historico.columns

Index(['Unnamed: 0', 'Case Number', 'Year', 'Type', 'Country', 'Area',
       'Location', 'Activity', 'Name', 'Sex ', 'Age', 'Time', 'Species ',
       'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [9]:
attacks_adicional.columns

Index(['Unnamed: 0', 'Case Number', 'Fatal (Y/N)', 'Injury', 'Date'], dtype='object')

In [10]:
attacks_historico.shape

(170, 22)

In [11]:
attacks_historico.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 170 entries, 0 to 169
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              170 non-null    int64
 1   Case Number             170 non-null    object
 2   Year                    170 non-null    float64
 3   Type                    170 non-null    object
 4   Country                 160 non-null    object
 5   Area                    124 non-null    object
 6   Location                119 non-null    object
 7   Activity                139 non-null    object
 8   Name                    161 non-null    object
 9   Sex                     156 non-null    object
 10  Age                     16 non-null     object
 11  Time                    10 non-null     object
 12  Species                 44 non-null     object
 13  Investigator or Source  169 non-null    object
 14  pdf                     170 non-null    object
 15  href formula            170 non-null    object
 16  href                    170 non-null    object
 17  Case Number.1           170 non-null    object
 18  Case Number.2           170 non-null    object
 19  original order          170 non-null    float64
 20  Unnamed: 22             0 non-null      float64
 21  Unnamed: 23             0 non-null      float64
dtypes: float64(4), int64(1), object(17)
memory usage: 29.3+ KB

2) Chequead que los nombres de las columnas ver si se llaman iguales entre dataframes . ¿Están todas en minúsculas? ¿Tienen espacios? En caso de que no sean todas iguales unificad el nombre de las columnas.

In [12]:
#Modificamos nombre de columnas para el archivo attacks_historicos
cambio_columnas = {col :  col.lower().strip().replace(' ','_') for col in attacks_historico.columns}
attacks_historico1 = attacks_historico.rename(columns = cambio_columnas) #inplace = True

In [13]:
#Modificamos nombre de columnas para el archivo attacks_adicional
cambio_columnas = {col :  col.lower().strip().replace(' ','_') for col in attacks_adicional.columns}
attacks_adicional1 = attacks_adicional.rename(columns = cambio_columnas) #inplace = True

3) En este momento nos habremos dado cuenta que el DataFrame que generamos en el pair programming Pandas IV es similar al DataFrame de los datos historicos. Si recordamos, eliminamos algunas columnas en la sesión III que no eran útiles, pero esas columnas están todavía en el histórico. Si no fuera por eso podríamos unir esos dataframes. Realizad los cambios que creais necesarios para que los dataframes sean iguales y luego juntadlos usando el mejor método.

In [14]:
attacks_historico1.drop(['unnamed:_0', 'investigator_or_source', 'pdf', 'href_formula','case_number.1', 'case_number.2', 'original_order', 'unnamed:_22',
       'unnamed:_23'], axis=1, inplace=True)

In [15]:
attacks_historico1.columns

Index(['case_number', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'sex', 'age', 'time', 'species', 'href'],
      dtype='object')

In [16]:
attacks_historico1.shape

(170, 13)

In [17]:
df.shape # Tenemos una columna mas que es la de 'siglo' creada en el ultimo pair

(1502, 14)

In [19]:
attacks_historico1['year'].value_counts() #Analizamos que años trae.

0.0       125
1700.0      3
1642.0      2
1776.0      2
1637.0      1
1733.0      1
1723.0      1
1721.0      1
1703.0      1
1638.0      1
1617.0      1
1742.0      1
1595.0      1
1580.0      1
1555.0      1
1554.0      1
1543.0      1
500.0       1
77.0        1
5.0         1
1738.0      1
1800.0      1
1797.0      1
1755.0      1
1792.0      1
1791.0      1
1788.0      1
1787.0      1
1786.0      1
1785.0      1
1784.0      1
1783.0      1
1780.0      1
1779.0      1
1771.0      1
1767.0      1
1764.0      1
1758.0      1
1753.0      1
1751.0      1
1749.0      1
1748.0      1
Name: year, dtype: int64

4) Es el momento de unir la información de todos los ataques de tiburón que acabamos de crear con el DataFrame de información adicional. Debatid que método es el más correcto para unir toda esta información y ejecutadlo.
📌 NOTA Cuando hagáis la unión considerad que la información que más nos interesa es la del DataFrame que creamos en el apartado anterior, lo cual determinará el tipo de unión.

Creemos que para unir nuestro archivo y el de attacks historicos tenemos que realizar un concat ya que tienen las mismas columnas, y lo que estamos haciendo es agregar filas de otros años.

In [24]:
concat_attack =pd.concat([df,attacks_historico1], axis = 0)

In [21]:
attacks_adicional1.tail()

,unnamed:_0,case_number,fatal_(y/n),injury,date
6283,6283,ND.0003,Y,FATAL,1900-1905
6284,6284,ND.0002,Y,FATAL,1883-1889
6285,6285,ND.0001,Y,"FATAL. ""Shark bit him in half, carrying away t...",1845-1853
6286,6286,0,NaN,NaN,NaN
6287,6287,xx,NaN,NaN,NaN

Miramos el final del archivo adicional para ver que registros trae y vemos que trae registros para el archivo historico tambien.
Definimos que haremos un .marge para unir el archivo concatenado de todos los datos y el archivo con datos adicionales.

- Vemos que trae la columna 'unnamed:_0' y hemos decidido eliminarla.

In [27]:
attacks_adicional1.drop(['unnamed:_0'], axis=1, inplace=True)

In [28]:
attacks_adicional1.columns

Index(['case_number', 'fatal_(y/n)', 'injury', 'date'], dtype='object')

In [29]:
attacks_total = concat_attack.merge(attacks_adicional1,  how= 'inner', on='case_number') # Realizamos el .marge para la ultima union.

In [33]:
attacks_total.head(2) # Verificamos que se realizo la union correctamente.

,case_number,year,type,country,area,location,activity,name,sex,age,time,species,href,siglo,fatal_(y/n),injury,date
0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,N,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018
1,2018.06.03.a,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,Late afternoon,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,Y,FATAL,03-Jun-2018

5) Guardad el dataframe nuevo en un csv que usaremos mañana en la clase de pair programming

- Antes de guardar como hemos creado un nuevo DataFrame vamos a colocar como indice la columna 'case_number', para que luego no nos cree la columna 'unnamed:0'

In [34]:
attacks_total.set_index(['case_number'], inplace= True)

In [35]:
attacks_total.to_csv('files/attacks3.csv')